/* Color Palette Stuff */
/* #4455DD;
#051A5E;
#233DD5;
#0636B1;
#B086EE;
#031879;
#2D51EC;
#354899;
#07297B;
#1D4196;
#DB9EF6; */


* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    background: #4455DD;
    color: #FFFFFF;
    border-radius: 20px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #354899;
}

#workspaces button.active {
    background: #BBDD22;
    color: #4455DD;
}

#battery,
#clock,
#custom-power,
#mode,
#mpd,
#network,
#pulseaudio,
#taskbar,
#tray {
    padding: 0 7px;
    color: #FFFFFF;
    background-color: #4455DD;
}

#battery:hover,
#clock:hover,
#custom-power:hover,
#mode:hover,
#mpd:hover,
#network:hover,
#pulseaudio:hover,
#taskbar:hover,
#tray:hover {
    color: #4455DD;
    background-color: #BBDD22;
}

#window,
#workspaces {
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#network {
    border-radius: 20px 0px 0px 20px;
}

#network.disconnected {
    color: red;
}

#custom-power{
    font-size: 18px;
    border-radius: 0px 20px 20px 0px;
    padding-right: 14px;
}

#taskbar{
    background-color: #4455DD;
    border-radius: 20px 20px 20px 20px;
}

#battery{
	background-color: #4455DD;
	color: #ffffff;
}

#tray {
    background-color: #4455DD;
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #4455DD;
    color: #ffffff;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #171717;
    color: #ffffff;
}
